body {
  background-color: beige;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 500px;
  border-radius: 15px;
  background-color: white;
  margin: auto;
}

.header {
  display: flex;
justify-content: center;  
align-items: center;
  height: 40px;
  color: white;
  font-size: 20px;
  background: linear-gradient(120deg, powderblue, pink);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
}

.text {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}
.btn-section {
  background: linear-gradient(120deg, powderblue, pink);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
}
.add-btn {
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 2px black;
}

.add-btn:hover{
  cursor: pointer;
}
.add-btn:focus {
  outline:0;
}