body {
  background-color: beige;
}

#app {
  display: block;
  width: 400px;
  border-radius: 15px;
  background-color: white;
  margin: auto;
}

.header {
  display: flex;
  justify-content: center;  
  align-items: center;
  height: 40px;
  color: white;
  font-size: 20px;
  background: linear-gradient(120deg, powderblue, pink);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
}

#list{
  height: 500px;
  position: relative;
  overflow: scroll;
}

.list {
  padding: 0 40px 0 40px;
  position: relative;
  top: 10px;
}

li {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}
.delete-btn {
border-style: none;
background-color: white;
}

.delete-btn:hover {
  color: red;
  border-style: none;
  cursor: pointer;
  }
  
.delete-btn:focus {
  outline: 0;
  }

.text {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

.btn-section {
  background: linear-gradient(120deg, powderblue, pink);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
}
.add-btn {
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 2px black;
}

.add-btn:hover{
  cursor: pointer;
}
.add-btn:focus {
  outline:0;
}